body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  margin: 0px auto;
  display: table;
  width: 70%;
}

h1 {
  margin-bottom: 40px;
}

h2 {
  margin: 25px 0;
}

.input-field {
  margin: 5px 0 5px 0;
}

.item-button {
  margin: 5px;
}

.submit-button {
  margin: 5px 5px 5px 0;
}

.update-button {
  margin: 30px 5px 5px 5px;
}

.items-container {
  margin-bottom: 100px;
}
